@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu a {
        @apply font-semibold text-lg uppercase mx-5 hover:text-yellow-400 transition-all duration-300;
    }

    .box_filme {
        @apply hover:scale-105 hover:shadow;
    }
}

.header {
    /* width: 100vw; */
    height: 64px;
    align-items: center;
    color: #fff;
    transition: top .2s linear;
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 .8rem;
    z-index: 800;
}

#menu-btn {
    display: flex;
}

#search-icon {
    display: none;
}

.banner {
    max-height: 80%;
    height: 360px;
}

.media-banner {
    /* min-height: 300px; */
    /* height: calc(100vh/1.5); */
    /* max-height: 480px; */
}

@media screen and (max-width: 768px) {

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: gray;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.2s linear;
        display: none;
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        display: block;
    }

    .header .navbar a {
        display: block;
        margin: .625rem 1.5rem;
        font-size: 14px;
    }

    #menu-btn {
        display: block;
    }

    #search-icon {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    #menu-btn {
        display: none;
    }

    #search-icon {
        display: flex;
    }
}

@media screen and (min-width: 920px) {
    #menu-btn {
        display: none;
    }

    #search-icon {
        display: flex;
    }

    .media-banner {
        min-height: 300px;
        height: calc(100vh/1.5);
        /* max-height: 480px; */
    }
}
