@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu a {
        @apply text-gray-100 font-semibold text-lg uppercase mx-5 hover:text-yellow-400 transition-all duration-300;
    }

    .box_filme {
        @apply hover:scale-105 hover:shadow;
    }
}
.menu {
    z-index: 800;
    width: 100vw;
}

.banner {
    max-height: 80%; 
    height: 360px;
}

.banner-home {
    min-height: 300px;
    height: calc(100vh/2.5);
    max-height: 360px;
}

header {
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(var(--tmdbDarkBlue),1);
    height: 64px;
    z-index: 10;
    transition: top .2s linear;
}

.modal-content {
    z-index: 1000;
    max-width: 70%;
    max-height: 80%; 
    height: 80%; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.btn_fechar {
    color: gray;
}
.btn_fechar:hover {
    color: red;
}
.icn_search {
    color: gray;
}